<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.handlebars"><i class="fas fa-map-pin"></i>DENBIZ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="registration">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/business">Explore</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- start of search body -->
  <div class="container">
  <div class="row border-0 my-4">
    <div class="col-lg-8 mx-auto">
      <h5 class="font-weight-light mb-4 font-italic text-white">explore denver small businesses</h5>
      <div class="bg-white p-4 rounded shadow">

        <!-- Custom rounded search bars with input group -->
        <form id="submit"> 
          <div class="input-group mb-4 border rounded-pill p-1">
            <div class="input-group-prepend border-0">
              <button id="searchform" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
            </div>
            <input type="search" placeholder="Find restaurants, bakeries, home repair services.." aria-describedby="searchform" id="search" class="form-control bg-none border-0">
          </div>
        </form>  

      </div>
    </div>
  </div>
</div>

{{!-- new section --}}
 <div class="container">
  <div class="row border-0 my-4">
    <div class="col-lg-8 mx-auto">
      <h5 class="font-weight-light mb-4 font-italic text-white">testing: map results</h5>
      <div class="bg-white p-4 rounded shadow">

          <div id="map"></div>
      </div>
    </div>
  </div>
</div>

  {{!-- new section --}}
<div class="container">
<div class="row border-0 my-5">
    <div class="col-lg-8 mx-auto">
        <h5 class="font-weight-light mb-4 font-italic text-white">small business spotlight</h5>
            <div class="bg-white p-5 rounded shadow">
        <!-- business of the week -->
  <div class="businessOfTheWeek card border-info mb-3 shadow">
    {{!-- insert business name in card-header --}}
    <div class="card-header">{{name}}</div>
   <img class="image card-img-top" src="https://images.unsplash.com/photo-1571204829887-3b8d69e4094d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="shop local!">
   <div class="card-body">
     <h6 class="card-title">Business Classification: {{category}} </h6>
     <p class="card-text">About {{name}}:</p>
     <p class="card-text">{{companyDescription}}</p>
     <p class="card-text"><small class="text-muted">Last updated: May 09 2020</small></p>
   </div>
   <div class="card-footer bg-transparent border-info"> 
     <div class="container">
             Address: {{address}} | Phone Number: {{contactNumber}}
    </div>
    <div class="container">
             Website: {{website}} | Email: {{email}}
    </div>
  </div>
</div>
</div>
<!-- end of business of the week card -->
      </div>
    </div>
</div>

<footer>
    <div class="container">
      <p>&copy; 2020 Team Top Developers at University of Denver</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

